html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*My Purchases Page*/
.btn.dl-btn {
    border: 1px solid;
    background-color: cadetblue;
    color: #fff;
    font-size: 14px;
}

a.navbar-brand {
    font-size: 30px;
}

.container.nav-con {
    padding: 30px 0px !important;
    border-bottom: 2px solid #f4f4f4;
}
.nav-con a{
    color:#333;
}
div#purchase-card .card-text {
    color: dimgrey;
    font-size: 15px;
}

.card-purchase .card-body div:first-child {
    margin-bottom: 10px;
}

div.pagetitle h3 {
    margin: 50px auto !important;
    position: relative;
    display: inline-block;
}

div.pagetitle h3:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: darkseagreen;
    top: 120%;
    left: 0;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav li {
    padding: 0px 10px !important;
}

.navbar-nav i {
    font-size: 25px;
}

#purchase-card .card-title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 21px;
}
#purchase-card img.card-img-top {
    width: 80%;
    padding: 18px;
    height: auto;
}
#purchase-card h4 {
    margin-bottom: 15px;
    font-size: 21px;
}

.stars i.bi.bi-star-fill {
    color: #F7E70C !important;
}
/*End of My Purchases Page*/
/*MyPurchases Ratings*/
/*Styling for Ratings*/
.rate {
    text-align: center;
    float: center;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
color: #c59b08;
}
/*End of Ratings*/

/*for constant star*/
/*for gallery page rating*/
.checked {
    color: orange;
}


/*for user star rating in mypurchases page*/


.stars {
    width: 270px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/**/

