@{
    ViewData["Title"] = "Login Page";
}
@section Scripts
{
    <script src="/js/login.js"></script>

}



<div class="card mb-5" style="width: 40rem; margin-right: 30rem; margin-left: 15rem; margin-top: 5rem;">
    <div class="card-body">
        <h5 class="card-title"><strong>Hello! Welcome back.</strong></h5>
        <div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label ">Username</label>
                <input class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>

        </div>
        <button type="submit" class="btn btn-primary loginBtn">Login</button>

    </div>
</div>

